@charset "UTF-8";
@use "../../foundation/mixin";
.p-main__style {
    width: 100%;
    &-sub {
        padding: 0 30px;
        margin: 0 auto;
        text-align: center;
        @include mixin.tab {
            padding: 0 50px;
        }
        @include mixin.sub {
            padding: 0 110px;
        }
        @include mixin.pc {
            max-width: 1220px;
            padding: inherit;
        }
        .p-main__style-title {
            margin: 60px 0 65px 0;
            position: relative;
            @include mixin.pc {
                margin: 80px 0 65px 0;
            }
        }
        .p-main__style-title::before {
            content: "";
            background-image: url(/images/style-border.png);
            background-repeat: no-repeat;
            position: absolute;
            height: 35px;
            top: 18px;
            width: 160px;
            margin-left: -47px;
            @include mixin.pc {
                margin-left: -86px;
                width: 270px;
                top: 33px;
            }
        }
        .p-main__style-title::after {
            content: "";
            background-image: url(/images/くし.png);
            background-repeat: no-repeat;
            position: absolute;
            background-size: contain;
            background-position: center;
            width: 75px;
            height: 75px;
            top: -37px;
            @include mixin.pc {
                width: 85px;
                height: 100px;
                top: -42px;
            }
        }
        .p-main__style-img-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            @include mixin.pc {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
            img {
                width: 100%;
                object-fit: cover;
                height: 165px;
                margin: 0 auto;
                @include mixin.tab {
                    height: 305px;
                }
                @include mixin.sub {
                    height: 400px;
                }
                @include mixin.pc {
                    width: 305px;
                    height: 305px;
                    margin: inherit;
                }
            }
            .p-main__style-view-more-box {
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(225.05deg, rgba(228, 210, 188, 0.41) -0.74%, rgba(228, 209, 186, 0.437656) -0.73%, #D5BDA0 100.66%);
                @include mixin.pc {
                    width: inherit;
                    margin: inherit;
                }
                .p-main__style-view-more-btn {
                    width: 90%;
                    border: 1px solid #000000;
                    border-radius: 2px;
                    font-family: "Lato";
                    letter-spacing: 0.095em;
                    color: #000000;
                    position: relative;
                    height: 38px;
                    line-height: 38px;
                    text-align: left;
                    padding-left: 6%;
                    font-size: 12px;
                    transition: all 0.2s;
                    @include mixin.tab {
                        height: 52px;
                        line-height: 52px;
                        width: 80%;
                        padding-left: inherit;
                        padding-right: 50px;
                        text-align: center;
                        font-size: 14px;
                    }
                    @include mixin.pc {
                        padding: 18px 108px 18px 33px;
                        width: inherit;
                        height: inherit;
                        text-align: inherit;
                        line-height: inherit;
                        font-size: inherit;
                    }
                }
                .p-main__style-view-more-btn:hover {
                    opacity: 0.6;
                }
                .p-main__style-view-more-btn::after {
                    content: "";
                    position: absolute;
                    top: 18px;
                    width: 28px;
                    height: 4px;
                    margin-left: 10px;
                    border-bottom: 1px solid #000000;
                    border-right: 1px solid #000000;
                    transform: skew(58deg);
                    @include mixin.tab {
                        top: 25px;
                    }
                    @include mixin.pc {
                        top: 22px;
                        width: 44px;
                        height: 7px;
                        margin-left: 30px;
                    }
                }
            }
            .p-main__style-instagram-box {
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(225deg, rgba(255, 253, 241, 0.9) 0%, #F2EDCE 100%);
                @include mixin.pc {
                    width: inherit;
                    margin: inherit;
                }
                .p-main__style-instagram-btn {
                    width: 90%;
                    height: 38px;
                    font-family: "Lato";
                    color: #000000;
                    border: 1px solid #000000;
                    border-radius: 2px;
                    // display: flex;
                    // align-items: center;
                    position: relative;
                    line-height: 38px;
                    font-size: 12px;
                    text-align: left;
                    transition: all 0.2s;
                    @include mixin.tab {
                        height: 52px;
                        line-height: 52px;
                        width: 80%;
                        text-align: center;
                        padding-right: 15%;
                        font-size: 14px;
                    }
                    @include mixin.pc {
                        letter-spacing: 0.095em;
                        padding: 14px 91px 14px 17px;
                        width: inherit;
                        height: inherit;
                        line-height: inherit;
                        font-size: inherit;
                        text-align: inherit;
                    }
                    .fa-instagram {
                        content: "\f16d";
                        font-family: "Font Awesome 5 Brands";
                        font-weight: 400;
                        position: relative;
                        color: #000000;
                        font-size: 16px;
                        margin-left: 10px;
                        margin-right: 5px;
                        top: 1px;
                        transition: all 0.2s;
                        @include mixin.pc {
                            font-size: 24px;
                            margin-right: 10px;
                            margin-left: inherit;
                        }
                    }
                    .fa-instagram:hover {
                        opacity: 0.6;
                    }
                }
                .p-main__style-instagram-btn:hover {
                    opacity: 0.6;
                }
                .p-main__style-instagram-btn::after {
                    content: "";
                    position: absolute;
                    top: 17px;
                    width: 25px;
                    height: 4px;
                    border-bottom: 1px solid #000000;
                    border-right: 1px solid #000000;
                    transform: skew(58deg);
                    margin-left: 10px;
                    @include mixin.tab {
                        top: 25px;
                    }
                    @include mixin.pc {
                        width: 44px;
                        top: 24px;
                        margin-left: 20px;
                        height: 7px;
                    }
                }
            }
        }
    }
}

.style-mask {
    position: relative;
    display: block;
    line-height: 0;
    overflow: hidden;
    @include mixin.pc {
        width: inherit;
    }
}
.style-mask::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 0;
    left: -75%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    transform: skewX(-25deg);
}
.style-mask:hover::before {
    animation: p-main__style-img-box 0.8s;
}
@keyframes p-main__style-img-box {
    100% {
        left: 125%;
    }
}